{% extends "base.html" %}
{% load staticfiles i18n %}

{% block title %}Get the data{% endblock %}

{% block content %}

<div class="row">
  <div class="col col-lg-8">
    <h1> Get the data </h1> 
    <hr>
    <p><a class="btn btn-lg btn-success" href="https://docs.google.com/document/d/1VdRldjLT6wyVjJRLgX1axyJwm2vyD4-aFMIN0G61arY/edit?usp=sharing" role="button">Get Participants Guidebook</a></p>
    <p><a class="btn btn-lg btn-success" href="https://s3.amazonaws.com/bcndatahackathon2/variables.pdf" role="button">Get competition data</a></p> 
  </div>
</div>
{% endblock content %}