{% extends "base.html" %}

{% block extra_css %}
<style>
/*body {
  padding-top: 5rem;
}*/
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.panel {
      width: 400px;
      margin-left: auto;
      margin-right: auto;
    }
.panel-default {
    border-color: #ddd;
}
.panel-body {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    padding: 15px;
}

#btn-reset {
  margin-right: 10px;
}
#clock {
  margin-bottom: 0;
  line-height: 1.42857143;
  color: #333;
}
</style>
{% endblock extra_css %}


{% block title %}Enter submission{% endblock %}

{% block content %}


	<div class="starter-template">
        <h1>2nd Barcelona Gaming Data Hackathon</h1>
        <p class="lead">
          Welcome data hacker to the 2nd BCN Gaming Hackathon.<br> 
          24 hours to show your habilities to the world.<br> 
          Ready?</p>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="lead" id="clock"></div>
            </div>
          </div>

        {% if user.is_authenticated %}
        <p><a class="btn btn-lg btn-success" href="{% url 'list' %}" role="button">Make a submission</a></p>
        {% else %}
        <p><a class="btn btn-lg btn-success" href="{% url 'account_signup' %}  " role="button">Get started</a></p>
        {% endif %}
          
</div>



{% endblock content %}

{% block extra_js %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="//cdn.rawgit.com/hilios/jQuery.countdown/2.1.0/dist/jquery.countdown.min.js"></script>
<script>

  // Turn on Bootstrap
  $('[data-toggle="tooltip"]').tooltip();

  // 15 days from now!
  function get15dayFromNow() {
    // return new Date(new Date().valueOf() + 15 * 24 * 60 * 60 * 1000);
    return new Date('2016-10-16 10:00:00');
  }

  var $clock = $('#clock');

  $clock.countdown(get15dayFromNow(), function(event) {
    $(this).html(event.strftime('%H:%M:%S left'));
  });

  $('#btn-reset').click(function() {
    $clock.countdown(get15dayFromNow());
  });

  $('#btn-pause').click(function() {
    $clock.countdown('pause');
  });

  $('#btn-resume').click(function() {
    $clock.countdown('resume');
  });

</script> 
{% endblock extra_js %}