{% extends "base.html" %}

{% block title %}Enter submission{% endblock %}

{% block content %}

<div class="row">
	

    <!-- Upload form. Note enctype attribute! -->
    <div class="col-lg-offset-2 col-lg-8">
    <h1> Model submissions</h1>
    <hr>
    <div class="jumbotron">
        <p class="lead"> Hi <strong>{{request.user.username}}</strong>, from team <strong>{{request.user.team}}</strong>!</p>
        
        <p class="lead">Submit your recommendations with the probability per day-station of the NO2 concentration being > 120. The file has to have exactly XX lines each line representing the prediction of the test set (first line will be ignored). </p>
        <p class="lead">Remember that to avoid overfitting, the results presented here are just considering 30% of the test set. The final leaderboard can change when computing the precision with the whole data set.</p>
        <form action="{% url 'list' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.submissionfile.errors }}{{ form.submissionfile }}</p>
            <p><input class="btn-primary" type="submit" value="Upload" /></p>
        </form>
    </div>
    </div>

    <!-- List of uploaded submissions -->
    <div class="col-lg-offset-2 col-lg-8">
    {% if submissions %}
        <table class="table">
        <thead>
        	<th>file</th>
        	<th>date</th>
        	<th>logloss</th>
		</thead>
        <tbody>
        {% for submission in submissions %}
          <tr>
            <td><a href="{{ submission.submissionfile.url }}">{{ submission.submissionfile.name }}</a></td>      
            <td>{{submission.created_at}}</td>
            {% if not submission.file_error %}
                <td>{{submission.auc_public|floatformat:3 }}</td>
            {% else %}
                <td>{{submission.file_error}}</td>
            {% endif %}
          </tr>
        {% endfor %}
        </tbody>
        </table> 
    
    {% else %}
        <p>No submissions yet.</p>
    {% endif %}
    </div>
</div>

{% endblock content %}