{% extends "base.html" %}

{% block title %}Enter submission{% endblock %}

{% block content %}

<div class="row">
	<h1> Model submissions</h1>
	<hr>

    <!-- Upload form. Note enctype attribute! -->
    <div class="col-lg-offset-2 col-lg-8">
    <div class="jumbotron">
        <p class="lead"> Hi <strong>{{request.user.username}}</strong>, from team <strong>{{request.user.team}}</strong>!</p>
        
        <p class="lead">Submit your predicted scores for the the churn target. Remember that the file has to have exactly 341667 lines, with the predicted score for each row of the test set. Each prediction must be a real number between 0 and 1.</p>

        <form action="{% url 'list' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.submissionfile.errors }}{{ form.submissionfile }}</p>
            <p><input class="btn-primary" type="submit" value="Upload" /></p>
        </form>
    </div>
    </div>

    <!-- List of uploaded submissions -->
    <div class="col-lg-offset-2 col-lg-8">
    {% if submissions %}
        <table class="table">
        <thead>
        	<th>file</th>
        	<th>date</th>
        	<th>auc</th>
		</thead>
        <tbody>
        {% for submission in submissions %}
          <tr>
            <td><a href="{{ submission.submissionfile.url }}">{{ submission.submissionfile.name }}</a></td>      
            <td>{{submission.created_at}}</td>
            {% if not submission.file_error %}
                <td>{{submission.auc_public}}</td>
            {% else %}
                <td>{{submission.file_error}}</td>
            {% endif %}
          </tr>
        {% endfor %}
        </tbody>
        </table> 
    
    {% else %}
        <p>No submissions yet.</p>
    {% endif %}
    </div>
</div>

{% endblock content %}